@import "../../sass/base/base";
@import "../../sass/abstracts/variables";
@import "../../sass/base/typography";

.video-detail {
  border:2px solid rgba(8, 8, 14, 0.283);
}

.iframe{
position: relative;
padding-bottom: 56.25%;
padding-top: 2.5rem;
height:0px;
}

.iframe iframe{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width:100%;
  display: block;
  border:none;
}

.video-detail__content {
  padding:1rem;
  font-size: 1.6rem;
  p{
    font-size:1.4rem;
  }
}