/* .video-item {
  display: flex;
  cursor:pointer;
  align-items: center;
  border-top:1px solid black;
  padding: 15px 0px;
  margin: 5px 0px;
} */

.video-item{
  display:flex;
  cursor: pointer;
  padding:1rem 0px;
  border-top:1px solid black;
}

.video-item:first-child{
  border-top:none;
}

.video-item__content {
  padding-left:1rem;
}