.video-item {
  display: flex;
  cursor:pointer;
  align-items: center;
  border-top:1px solid black;
  padding: 15px 0px;
  /* margin: 5px 0px; */
}

.video-item:first-child{
  border-top:none;
}

.video-content {
  padding:0px 15px;
}

img {
  max-width: 180px,
}

h3 {
  margin:auto;
}